@page
@model Casino.Pages.aboutModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/about.css">
</head>

<body>

    <section id="about">

        <div class="about-text">
            <h1>About Us</h1>
            <p>There is really a lot to choose from in our online casino. Whether you prefer the 'good old' slot machines or table games like poker blackjack, we have you covered. When it comes to slot machines, there is something for everyone. Perhaps you like slot games with themes from popular music or TV shows, and here you can find many titles that you will nod in recognition of. If you're looking for something to spice up your online gambling habits, jackpot slots are a choice that's sure to provide the thrill you're looking for – the big wins you could be lucky enough to win certainly add to the entertainment. Our casino also has an eye for the live casino games, which are in high demand among today's casino enthusiasts. Here you can play the classic roulette with a real live croupier, and thanks to our mobile-friendly platform, it's possible whether you're at home or on the go. The games offered in our online casino are provided by the best and most respected game providers in the industry with names such as Microgaming, Play'n GO, Yggdrasil and NetEnt. In short, this means that you have many of the very latest and most innovative titles at your disposal.</p>
        </div>
    </section>

    <section id="online">

        <div class="online-text">
            <h1>Live Casino</h1>
            <p>In our live casino you play traditional table games such as Blackjack and Roulette with professional dealers. You can choose to participate at a table with other players or to play alone with the dealer. We have many tables for each game including Old Vegas, Golden Buffalo, Poker and Black jack tables. It is a unique experience to play in our Live Casino, and it is the closest you will get to playing in a physical Casino.</p>
        </div>
    </section>

    <section id="safe">

        <div class="safe-text">
            <h1>Security</h1>
            <p>Your security plays a central role in our online casino. The casino's specifically developed Gaming tool is unlike anything else you will experience in the industry, providing that crucial extra layer of safety, security and control. Set your own limits so you never end up playing for more than you can afford. Basically, it allows you to play by your own rules and your own limits. Our casino keeps an eye on the technical side of things in the background, so you can safely sit back, relax and enjoy the excitement.</p>
        </div>
    </section>
</body>
