@page
@model Casino.Pages.RouletteModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/roulette.css" />
</head>

<body>
    <div class="roulette">
        <div class="wheel spin">
            <div class="arrow">
            </div>
            <img src="https://i.imgur.com/N01W3Ks.png">
        </div>
    </div>

    <script src="~/js/roulette.js" asp-append-version="true"></script>
</body>