@page
@model Casino.Pages.slotsModel
@{
}
<head>
    <link rel="stylesheet" href="/css/slots.css" asp-append-version="true" />
</head>


<body>

    <div id="app">
        <h1>Casino RPG</h1>

        <div id="app">
            <div class="doors">
                <div class="door">
                    <div class="boxes">
                        <!-- <div class="box">?</div> -->
                    </div>
                </div>

                <div class="door">
                    <div class="boxes">
                        <!-- <div class="box">?</div> -->
                    </div>
                </div>

                <div class="door">
                    <div class="boxes">
                        <!-- <div class="box">?</div> -->
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button id="spinner">Play</button>
                <button id="reseter">Reset</button>
            </div>
        </div>

    </div>

    <script src="~/js/slots.js" asp-append-version="true"></script>

</body>

